.DS_Store
**/.env
**/.venv/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.secrets/
**/.cachebro/
**/.atl/
**/.ruff_cache/
**/.pytest_cache/
**/vectorstore/
**/*.sqlite
**/checkpoints.db
